literature/ConsciousnessAsAStateOfMatterTegmark2015.pdf filter=lfs diff=lfs merge=lfs -text
literature/BayesianMechanics/On_Bayesian_Mechanics-A_Physics_of_and_by_Beliefs_Ramstead_UCL_StonyBrook_NortheasternU_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/BayesianMechanics/Variational_Algorithms_for_Approximate_Bayesian_Inference_PhD_thesis_UCL_2003.pdf filter=lfs diff=lfs merge=lfs -text
literature/BayesianNetworks/LearningBayesianNetworksRNeapolitan.pdf filter=lfs diff=lfs merge=lfs -text
literature/CSPeirce/TheOrderOfNaturePeirce1878.pdf filter=lfs diff=lfs merge=lfs -text
literature/CSPeirce/TheProbabilityOfInductionPeirce1878.pdf filter=lfs diff=lfs merge=lfs -text
literature/CSPeirce/TheDoctrineOfChancesPeirce1878.pdf filter=lfs diff=lfs merge=lfs -text
literature/CellularAutomata/universality-complexity-cellular-automata.pdf filter=lfs diff=lfs merge=lfs -text
literature/CellularAutomata/statistical-mechanics-cellular-automata.pdf filter=lfs diff=lfs merge=lfs -text
literature/ComputationSiegelmann/NeuralNetworksandAnalogComputationBeyondTheTuringLimit.pdf filter=lfs diff=lfs merge=lfs -text
literature/Explainability/Calculating_and_Visualizing_Counterfactual_Feature_Importance_Values_MueleMeester_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/Fractals/MultifractalMethodologySalat2017.pdf filter=lfs diff=lfs merge=lfs -text
literature/Fractals/Fractals_and_wavelets_arneodo.pdf filter=lfs diff=lfs merge=lfs -text
literature/Fractals/Muzy-1994-The-Multi-Fractal-Formalism-Revisited-With-Wavelets.pdf filter=lfs diff=lfs merge=lfs -text
literature/FreeEnergyPrinciple/Active_Inference_The_Free_Energy_Prinicple_In_Mind_Brain_and_Behavior_Parr_Pezzulo_Friston_2022.pdf filter=lfs diff=lfs merge=lfs -text
literature/FreeEnergyPrinciple/Perceptions_as_hypotheses_saccades_as_experiments_Friston_2012.pdf filter=lfs diff=lfs merge=lfs -text
literature/GNN/Double_Equivariance_for_Inductive_Link_Prediction_for_Both_New_Nodes_and_New_Relation_Types_Gao_PurdueU_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/GNN/APracticalGuidetoGraphNeuralNetworks.pdf filter=lfs diff=lfs merge=lfs -text
literature/GameTheory/An_Introduction_to_Syntax_Valin_2001.pdf filter=lfs diff=lfs merge=lfs -text
literature/GrammarAndSyntax/An_Introduction_to_Syntax_Valin_2001.pdf filter=lfs diff=lfs merge=lfs -text
literature/GrammarAndSyntax/Grammatical_theory_Mueler_2016.pdf filter=lfs diff=lfs merge=lfs -text
literature/GraphTheory/DigraphsTheoryAlgorithmsApplicationsJensen2007.pdf filter=lfs diff=lfs merge=lfs -text
literature/HyperdimensionalComputing/A_Neuro-vector-symbolic_Architecture_for_Solving_Ravens_Progressive_Matrices_Hersche_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/InformationTheory/InformationTheoryTutorial_Stone_UShefield_2018.pdf filter=lfs diff=lfs merge=lfs -text
literature/IntegratedInformationTheory/Integrated_information_theory_4.0-Formulating_the_properties_of_phenomenal_existence_in_physical_terms_Albantakis_2022.pdf filter=lfs diff=lfs merge=lfs -text
literature/IsingMachines/Oscillator-BasedIsingMachinesforSolvingCombinatorialOptimisationProblemsWang2019.pdf filter=lfs diff=lfs merge=lfs -text
literature/LogicSystems/church_calculi_1941.pdf filter=lfs diff=lfs merge=lfs -text
literature/LogicSystems/Kurt_Gödel_On_Formally_Undecidable_Propositions_of_Principia_Mathematica_and_Related_Systems_1992.pdf filter=lfs diff=lfs merge=lfs -text
literature/NoetherTheoremAndSymmetryGroups/Theory_of_groups_of_finite_order_Burnside_1896.pdf filter=lfs diff=lfs merge=lfs -text
literature/NoetherTheoremAndSymmetryGroups/SymmetryGroupsBook/sgatapch2.pdf filter=lfs diff=lfs merge=lfs -text
literature/NoetherTheoremAndSymmetryGroups/SymmetryGroupsBook/sgatach8.pdf filter=lfs diff=lfs merge=lfs -text
literature/NoetherTheoremAndSymmetryGroups/SymmetryGroupsBook/sgatach4.pdf filter=lfs diff=lfs merge=lfs -text
literature/PhysicsBasedInterpretations/Strogatz_SYNC_2003.pdf filter=lfs diff=lfs merge=lfs -text
literature/QuantumOptimization/QuantumComputationandQuantumInformation_Nielsen_10th_anniversary_ed_CamridgeU_2010.pdf filter=lfs diff=lfs merge=lfs -text
literature/ReinforcementLearning/Simple_Embodied_Language_Learning_as_a_Byproduct_of_Meta-Reinforcement_Learning_Liu_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/Transformers/NLP_GPT-3_openai_paper.pdf filter=lfs diff=lfs merge=lfs -text
literature/Transformers/Q-Transformer-Scalable_Offline_Reinforcement_Learning_via_Autoregressive_Q-Functions_Chebotar_DeepMind_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/Transformers/SimplifyingTransformerBlocks_He2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/Transformers/TheIllustratedTransformerJayAmmar.pdf filter=lfs diff=lfs merge=lfs -text
literature/Transformers/TransformerNovelNeuralNetworkArchitecture.pdf filter=lfs diff=lfs merge=lfs -text
literature/Transformers/The_Transient_Nature_of_Emergent_In-Context_Learning_in_Transformers_Singh_UCL_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/Transformers/Transformers_Learn_Higher-Order_Optimization_Methods_for_In-Context_Learning-A_Study_with_Linear_Models_Fu_USC_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/p-bit_computing/SimmulatingPhysicsWithComputersFeynman1981.pdf filter=lfs diff=lfs merge=lfs -text
literature/p-bit_computing/p-BitsforProbabilisticSpinLogicCamsari2019.pdf filter=lfs diff=lfs merge=lfs -text
literature/thousand_brains_hypothesis/BinarySparseSignalRecoveryAlgorithmsHu2018.pdf filter=lfs diff=lfs merge=lfs -text
literature/thousand_brains_hypothesis/HowDoWeRememberBrainMechanismsOfEpisodicMemoryHasselmo2011Book.pdf filter=lfs diff=lfs merge=lfs -text
literature/thousand_brains_hypothesis/GridCellsEncodeLocalPositionalInformationRIsmakov2017.pdf filter=lfs diff=lfs merge=lfs -text
literature/thousand_brains_hypothesis/GridCellsFormaGlobalRepresentationofConnectedEnvironmentsCarpenter2015.pdf filter=lfs diff=lfs merge=lfs -text
literature/thousand_brains_hypothesis/SpaceAndTimeTheHippocampusasSequenceGenerator_Buzsaki_Tingley_2018.pdf filter=lfs diff=lfs merge=lfs -text
literature/thousand_brains_hypothesis/TheoryofHowColumnsintheNeocortexEnableLearningtheStructureoftheWorldHawkins2017.pdf filter=lfs diff=lfs merge=lfs -text
literature/Neural_and_behavioural_effects_of_typicality_denotation_and_composition_in_an_adjective–noun_combination_task_Fritz_2021.pdf filter=lfs diff=lfs merge=lfs -text
literature/Chennu_et_al-2016-The_Journal_of_Neuroscience-VoR.pdf filter=lfs diff=lfs merge=lfs -text
literature/AI_is_stupid_and_causal_reasoning_will_not_fix_it_Bishop_2021.pdf filter=lfs diff=lfs merge=lfs -text
literature/bridging-machine-learning-and-logical-reasoning-by-abductive-learning-Paper.pdf filter=lfs diff=lfs merge=lfs -text
literature/BayesianInference/BayesianFrameworkForConceptLearningTanenbaum1999.pdf filter=lfs diff=lfs merge=lfs -text
literature/BayesianInference/BayesianInductiveInferenceAndMaximumEntropyGull1988.pdf filter=lfs diff=lfs merge=lfs -text
literature/CausalInferencePearl/LinearModelsUsefulMicroscopeforCausalAnalysisPearl2013.pdf filter=lfs diff=lfs merge=lfs -text
literature/ComputationSiegelmann/ComputationBeyondtheTuringLimit_1995_Siegelmann_Science.pdf filter=lfs diff=lfs merge=lfs -text
literature/DeepLearning/Using_Sequences_of_Life-events_to_Predict_Human_Lives_Savcisens_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/EmergentPhenomenaAndSelfOrganization/Self-organization_an_Developmental_Processes-Can_Systems_Approaches_Work_Esther_Thelen_1989.pdf filter=lfs diff=lfs merge=lfs -text
literature/EmergentPhenomenaAndSelfOrganization/Spatially_embedded_recurrent_neural_networks_reveal_widespread_links_between_structural_and_functional_neuroscience_findings_Achterberg_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/Fractals/From_Cascades_To_Multifractal_Processes_Riedi_2004.pdf filter=lfs diff=lfs merge=lfs -text
literature/Fractals/wavelet_based_multifractal_formalism_arneodo.pdf filter=lfs diff=lfs merge=lfs -text
literature/FreeEnergyPrinciple/KFriston_FreeEnergy_BrainTheory_2010.pdf filter=lfs diff=lfs merge=lfs -text
literature/FreeEnergyPrinciple/Experimental_validation_of_the_free-energy_principle_with_in_vitro_neural_networks_Isomura_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/HyperdimensionalComputing/Learning_from_Hypervectors-A_Survey_on_Hypervector_Encoding_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/EvolutionaryAlgorithms/IntroductionToEvolutionaryComputation_2015.pdf filter=lfs diff=lfs merge=lfs -text
literature/QuantumInformation/Quantum_Probability_and_Quantum_Information_Theory_Maassen.pdf filter=lfs diff=lfs merge=lfs -text
literature/QuantumInformation/From_Classical_to_Quantum_Shannon_Theory_Wilde_2017.pdf filter=lfs diff=lfs merge=lfs -text
literature/QuantumInformation/QuantumTheory_For_Mathematicians_Hall_2013.pdf filter=lfs diff=lfs merge=lfs -text
literature/QuantumCognition/The_unreasonable_success_of_quantum_probability_I-Quantum_measurements_as_uniform_fluctuations_Aerts_2014.pdf filter=lfs diff=lfs merge=lfs -text
literature/QuantumCognition/The_unreasonable_success_of_quantum_probability_II-Quantum_measurements_as_universal_measurements_Aerts_2014.pdf filter=lfs diff=lfs merge=lfs -text
literature/DynamicalSystemsAndChaos/Nonlinear_Dynamics_and_Chaos_2018_Steven_Strogatz.pdf filter=lfs diff=lfs merge=lfs -text
literature/ComputabilityAndComplexity/George_S_Boolos_John_P_Burgess_Richard_C_Jeffrey_Computability_and_Logic_5Ed_Cambridge_2007.pd filter=lfs diff=lfs merge=lfs -text
literature/ComputabilityAndComplexity/George_S_Boolos_John_P_Burgess_Richard_C_Jeffrey_Computability_and_Logic_5Ed_Cambridge_2007.pdf filter=lfs diff=lfs merge=lfs -text
literature/ComputabilityAndComplexity/notes_on_Boolos_Computability_and_Logic.pdf filter=lfs diff=lfs merge=lfs -text
Practical_Handbook_Genetic_Algorithms_Chambers_2000.pdf filter=lfs diff=lfs merge=lfs -text
literature/EvolutionaryAlgorithms/Practical_Handbook_Genetic_Algorithms_Chambers_2000.pdf filter=lfs diff=lfs merge=lfs -text
literature/EvolutionaryAlgorithms/IntroductionToEvolutionaryComputation_2015.pdf filter=lfs diff=lfs merge=lfs -text
literature/EvolutionaryAlgorithms/Evolutionary_algorithms_guided_by_Erdos–Renyi_complex_networks_Buchelli_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/EvolutionaryAlgorithms/Introduction_to_Evolutionary_Algorithms_Tamilselvi_book_chapter.pdf filter=lfs diff=lfs merge=lfs -text
literature/EvolutionaryAlgorithms/Algorithms_in_Nature_Genetic_Algorithms_slides.pdf filter=lfs diff=lfs merge=lfs -text
literature/EvolutionaryAlgorithms/Practical_Handbook_of_Genetic_Algorithms_New_Frontiers_Vol_II.pdf filter=lfs diff=lfs merge=lfs -text
literature/a_path_towards_autonomous_machine_intelligence_Yan_LeCunn_2022.pdf filter=lfs diff=lfs merge=lfs -text
literature/Broadbent_1957_perceptioncommun.pdf filter=lfs diff=lfs merge=lfs -text
literature/EmergentPhenomenaAndSelfOrganization/Software_in_the_natural_world-A_computational_approach_to_hierarchical_emergence_Rosas_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/OnCertainFormalPropertiesOfGrammarsChomsky1959.pdf filter=lfs diff=lfs merge=lfs -text
literature/ThreeModelsForDescriptionOfLanguageChomsky1956.pdf filter=lfs diff=lfs merge=lfs -text
literature/TheAlgebraicTheoryOfContextFreeLanguages_Chomsky_1963.pdf filter=lfs diff=lfs merge=lfs -text
literature/QuantumInformation/Epistemic_Processes_Basis_for_Statistics_and_Quantum_Theory.pdf filter=lfs diff=lfs merge=lfs -text
literature/AITR-235_DataRepresentationForUnderstandingNLP.pdf filter=lfs diff=lfs merge=lfs -text
literature/thousand_brains_hypothesis/ComputationalModelsofGridCells_Gioccomo2011.pdf filter=lfs diff=lfs merge=lfs -text
literature/thousand_brains_hypothesis/DistributedHierarchicalProcessinginthePrimateCerebralCortexFellemanAndVanessen1991.pdf filter=lfs diff=lfs merge=lfs -text
literature/thousand_brains_hypothesis/SpatialCellsInHipocampalFormationOkeefeNobelLecture2014.pdf filter=lfs diff=lfs merge=lfs -text
literature/thousand_brains_hypothesis/GridandNongridCellsinMedialEntorhinalCortexRepresentSpatialLocationandEnvironmentalFeatureswithComplementaryCodingSchemes_Diehl2017.pdf filter=lfs diff=lfs merge=lfs -text
literature/thousand_brains_hypothesis/OrganizingConceptualKnowledgeinHumanswithaGrid-likeCode_Constantinescu2016.pdf filter=lfs diff=lfs merge=lfs -text
literature/QuantumCognition/Consciousness_and_the_Universe_Roger_Penrose.pdf filter=lfs diff=lfs merge=lfs -text
literature/ThermodynamicsOfComplexSystemsSelfReplicationSelfOrganization/Exactly_Solved_Models_In_Statistical_Mechanics_Baxter_1989.pdf filter=lfs diff=lfs merge=lfs -text
literature/ThermodynamicsOfComplexSystemsSelfReplicationSelfOrganization/How_Did_We_Get_Here_The_Tangled_History_of_the_Second_Law_of_Thermodynamics_Wolfram_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/EmergentPhenomenaAndSelfOrganization/The_Origins_Of_Order_Stuart_Kaufman_1993.pdf filter=lfs diff=lfs merge=lfs -text
literature/CSPeirce/the-essential-peirce_selected-philosophical-writings-volume-2_1893-1913.pdf filter=lfs diff=lfs merge=lfs -text
literature/Fractals/GeometryOfFractalSetsBook.pdf filter=lfs diff=lfs merge=lfs -text
literature/NoetherTheoremAndSymmetryGroups/Introduction_to_Symmetry_Analysis-Brian_Cantwell_2002.pdf filter=lfs diff=lfs merge=lfs -text
literature/NoetherTheoremAndSymmetryGroups/SymmetryGroupsBook/sgatach7.pdf filter=lfs diff=lfs merge=lfs -text
literature/NoetherTheoremAndSymmetryGroups/SymmetryGroupsBook/sgatach9.pdf filter=lfs diff=lfs merge=lfs -text
literature/NoetherTheoremAndSymmetryGroups/SymmetryGroupsBook/sgatach5.pdf filter=lfs diff=lfs merge=lfs -text
literature/NoetherTheoremAndSymmetryGroups/SymmetryGroupsBook/sgatapch3.pdf filter=lfs diff=lfs merge=lfs -text
literature/LogicSystems/Mendelson_Introduction_to_Mathematical_Logic_6th_Ed_2015.pdf filter=lfs diff=lfs merge=lfs -text
literature/ReinforcementLearning/ReinforcementLearningSuttonSecondEdition2020.pdf filter=lfs diff=lfs merge=lfs -text
literature/GrammarAndSyntax/Elements_of_Structural_Syntax_Tesnierre_2015.pdf filter=lfs diff=lfs merge=lfs -text
literature/PhysicsBasedInterpretations/Geometric_Deep_Learning_Grids_Groups_Graphs_Geodesics_and_Gauges_Bronstein_2021.pdf filter=lfs diff=lfs merge=lfs -text
literature/PhysicsBasedInterpretations/non-equilibrium-statistical-mechanics-prigogine_1962.pdf filter=lfs diff=lfs merge=lfs -text
literature/DeepLearning/deeplearning_latest_edition.pdf filter=lfs diff=lfs merge=lfs -text
literature/DeepLearning/A_Path_Towards_Autonomous_Machine_Intelligence_Yan_LeCunn_2022.pdf filter=lfs diff=lfs merge=lfs -text
literature/DeepLearning/The_Platonic_Representation_Hypothesis_Huh_MIT_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/GameTheory/TheoryofGamesAndStatisticalDecisionsBlackwell1954.pdf filter=lfs diff=lfs merge=lfs -text
literature/InformationTheory/Wiley.Interscience.Elements.of.Information.Theory.Jul.2006.pdf filter=lfs diff=lfs merge=lfs -text
literature/IsingMachines/Exactly_Solved_Models_In_Statistical_Mechanics_Baxter_1989.pdf filter=lfs diff=lfs merge=lfs -text
literature/IsingMachines/MassivelyParallelProbabilisticComputingwithSparseIsingMachinesAadit2022.pdf filter=lfs diff=lfs merge=lfs -text
literature/Markov/1960-howard-dynamicprogrammingmarkovprocesses.pdf filter=lfs diff=lfs merge=lfs -text
literature/Markov/MarkovProcessesDynkin1969.pdf filter=lfs diff=lfs merge=lfs -text
literature/Markov/Reversibility_and_Stochastic_Processes_Kelly_1979.pdf filter=lfs diff=lfs merge=lfs -text
literature/RNN/WilliamsZipser95RecNets.pdf filter=lfs diff=lfs merge=lfs -text
literature/DynamicalSystemsAndChaos/IntroductionToModernTheoryOfDynamicalSystems_KatokHasselblatt1995.pdf filter=lfs diff=lfs merge=lfs -text
literature/DynamicalSystemsAndChaos/Strogatz_SYNC_2003.pdf filter=lfs diff=lfs merge=lfs -text
literature/BayesianMechanics/Uncertainty_Reward_and_Attention_in_the_Bayesian_Brain_LWhiteley_thesis.pdf filter=lfs diff=lfs merge=lfs -text
literature/ProbabilisticMethods/MachineLearningProbabilisticPerspective.pdf filter=lfs diff=lfs merge=lfs -text
literature/MultiAgentSimulation/Generative_Agents-Interactive_Simulacra_of_Human_Behavior_Park_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/EmergentPhenomenaAndSelfOrganization/Computational_Life-How_Well-formed_Self-replicating_Programs_Emerge_from_Simple_Interaction_Google_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/PhysicsBasedInterpretations/Nonlinear_Dynamics_and_Chaos_2018_Steven_Strogatz.pdf filter=lfs diff=lfs merge=lfs -text
literature/LLM/AI_models_collapse_when_trained_on_recursively_generated_data_Shumailov_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/thinking_and_reasoning/Moral_intuition_equals_Fast_and_frugal_heuristics_Gigerenzer_2008.pdf filter=lfs diff=lfs merge=lfs -text
literature/thinking_and_reasoning/The_Origin_of_Concepts_Carey_2009_book.pdf filter=lfs diff=lfs merge=lfs -text
literature/thinking_and_reasoning/Four_Elementary_Forms_Sociality_Fiske1992.pdf filter=lfs diff=lfs merge=lfs -text
literature/thinking_and_reasoning/The_logic_of_social_exchange_Has_natural_selection_shaped_how_humans_reason_Cosmides_1989.pdf filter=lfs diff=lfs merge=lfs -text
literature/thinking_and_reasoning/The_Smart_System_1_evidence_of_the_intuitive_nature_of_correct_responding_2019.pdf filter=lfs diff=lfs merge=lfs -text
literature/thinking_and_reasoning/How_to_improve_Bayesian_reasoning_without_instruction-Frequency_formats_Gigerenzer_1995.pdf filter=lfs diff=lfs merge=lfs -text
literature/thinking_and_reasoning/Probabilistic_mental_models-A_Brunswikian_theory_of_confidence_Gigerenzer_1991.pdf filter=lfs diff=lfs merge=lfs -text
literature/RNN/the_induction_of_dynamical_recognizers_pollack_1991.pdf filter=lfs diff=lfs merge=lfs -text
literature/kahneman/kahneman-tversky-on_the_psychology_of_prediction.pdf filter=lfs diff=lfs merge=lfs -text
literature/kahneman/JudgementAndChoice.MappingBoundedRationality.DKahneman2003.pdf filter=lfs diff=lfs merge=lfs -text
literature/LLM/human_like_reasoning/GSM-Symbolic-Understanding_the_Limitations_of_Mathematical_Reasoning_in_Large_Language_Models_Mizradeh_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/LLM/human_like_reasoning/RL_on_Incorrect_Synthetic_Data_Scales_the_Efficiency_of_LLM_Math_Reasoning_by_Eight-Fold_Setlur_CMU_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/NeuromorphicComputing/The_backpropagation_algorithm_implemented_on_spiking_neuromorphic_hardware_Renner_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/NeuromorphicComputing/A_million_spiking-neuron_integrated_circuit_with_a_scalable_communication_network_and_interface_Science-Merolla.pdf filter=lfs diff=lfs merge=lfs -text
literature/NeuromorphicComputing/Neuromorphic_electronic_based_on_copying_and_pasting_the_brain_Ham_2021.pdf filter=lfs diff=lfs merge=lfs -text
literature/EmergentPhenomenaAndSelfOrganization/Frontier_AI_systems_have_surpassed_the_self-replicating_red_line_Pan_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/LLM/Reasoning_Language_Models-A_Blueprint_Besta_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/EmergentPhenomenaAndSelfOrganization/Reasoning_Language_Models-A_Blueprint_Besta_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/GameTheory/GameTheoryAnalysisofConflictMyerson2013.pdf filter=lfs diff=lfs merge=lfs -text
literature/GameTheory/GameTheoryanditsApplicationsinTheSocialandBiologicalSciencesColmman2ed2003.pdf filter=lfs diff=lfs merge=lfs -text
literature/LLM/AgenticAI/Towards_an_AI_coscientist_Gottweiss_DeepMind_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/DeepLearning/Intuitive_physics_understanding_emerges_from_self-supervised_pretraining_on_natural_videos_Garrido_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/EmergentPhenomenaAndSelfOrganization/Intuitive_physics_understanding_emerges_from_self-supervised_pretraining_on_natural_videos_Garrido_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/EmergentPhenomenaAndSelfOrganization/Emergent_Symbolic_Mechanisms_Support_Abstract_Reasoning_in_Large_Language_Models_Yang_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/EmergentPhenomenaAndSelfOrganization/Emergence_of_Language_in_the_Developing_Brain_Evanson_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/LLM/Harnessing_the_Universal_Geometry_of_Embeddings_Jha_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/EmergentPhenomenaAndSelfOrganization/Self-orthogonalizing_attractor_neural_networks_emerging_from_the_free_energy_principle_Spisak_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/QuantumCognition/kurian-et-al-2024-ultraviolet-superradiance-from-mega-networks-of-tryptophan-in-biological-architectures.pdf filter=lfs diff=lfs merge=lfs -text
literature/Not_just_neurons-The_diverse_cellular_landscape_of_learning_and_memory_Alberini_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/LLM/human_like_reasoning/The_Illusion_of_Thinking-Understanding_the_Strengths_and_Limitations_of_Reasoning_Models_via_the_Lens_of_Problem_Complexity_Shojaee_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/LLM/human_like_reasoning/A_Statistical_Physics_of_Language_Model_Reasoning_Carson_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/LLM/human_like_reasoning/Emergent_Symbolic_Mechanisms_Support_Abstract_Reasoning_in_Large_Language_Models_Yang_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/LLM/human_like_reasoning/From_Tokens_to_Thoughts-How_LLMs_and_Humans_Trade_Compression_for_Meaning_Shani_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/LLM/human_like_reasoning/Learning_to_Think-Information-Theoretic_Reinforcement_Fine-Tuning_for_LLMs_Wang_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/LLM/human_like_reasoning/Reasoning_Models_Dont_Always_Say_What_They_Think_Chen_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/LLM/human_like_reasoning/States_as_Strings_as_Strategies-Steering_Language_Models_with_Game-Theoretic_Solvers_Gemp_DeepMind_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/LLM/human_like_reasoning/The_Entropy_Mechanism_of_Reinforcement_Learning_for_Reasoning_Language_Models_Cui_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/AGI_and_ASI/SuperARC-An_Agnostic_Test_for_Narrow_General_and_Super_Intelligence_Based_On_the_Principles_of_Causal_Recursive_Compression_and_Algorithmic_Probability_Espinoza_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/CollectiveArtificialIntelligenceAndEvolutionaryDynamics/barfuss-et-al-collective-cooperative-intelligence.pdf filter=lfs diff=lfs merge=lfs -text
literature/Symmetries/Introduction_to_Symmetry_Analysis_Brian_Cantwell_2002.pdf filter=lfs diff=lfs merge=lfs -text
literature/CollectiveArtificialIntelligenceAndEvolutionaryDynamics/bielawski-et-al-heterogeneity-reinforcement-learning-and-chaos-in-population-games.pdf filter=lfs diff=lfs merge=lfs -text
literature/CollectiveArtificialIntelligenceAndEvolutionaryDynamics/duéñez-guzmán-et-al-perceptual-interventions-ameliorate-statistical-discrimination-in-learning-agents.pdf filter=lfs diff=lfs merge=lfs -text
literature/CollectiveArtificialIntelligenceAndEvolutionaryDynamics/garcía-traulsen-picking-strategies-in-games-of-cooperation.pdf filter=lfs diff=lfs merge=lfs -text
literature/CollectiveArtificialIntelligenceAndEvolutionaryDynamics/kleiman-weiner-et-al-evolving-general-cooperation-with-a-bayesian-theory-of-mind.pdf filter=lfs diff=lfs merge=lfs -text
literature/CollectiveArtificialIntelligenceAndEvolutionaryDynamics/köster-et-al-tabula-rasa-agents-display-emergent-in-group-behavior.pdf filter=lfs diff=lfs merge=lfs -text
literature/CollectiveArtificialIntelligenceAndEvolutionaryDynamics/mcavoy-et-al-unilateral-incentive-alignment-in-two-agent-stochastic-games.pdf filter=lfs diff=lfs merge=lfs -text
literature/CollectiveArtificialIntelligenceAndEvolutionaryDynamics/sehwag-et-al-collective-artificial-intelligence-and-evolutionary-dynamics.pdf filter=lfs diff=lfs merge=lfs -text
literature/CollectiveArtificialIntelligenceAndEvolutionaryDynamics/terrucha-et-al-humans-program-artificial-delegates-to-accurately-solve-collective-risk-dilemmas-but-lack-precision.pdf filter=lfs diff=lfs merge=lfs -text
literature/Transformers/Energy-Based_Transformers_are_Scalable_Learners_and_Thinkers_Gladstone_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/Spinors/Clifford_Neural_Layers_for_PDE_Modeling_Brandstetter_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/Spinors/Geometric_Clifford_Algebra_Networks_Ruhe_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/Spinors/Geometric_Algebra_Meets_Large_Language_Models-Instruction-Based_Transformations_of_Separate_Meshes_in_3D_Interactive_and_Controllable_Scenes_Angelis_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/StandardModelOfTheMind/Baars-A_Cognitive_Theory_of_Consciousness.pdf filter=lfs diff=lfs merge=lfs -text
literature/StandardModelOfTheMind/A_Review_of_40_Years_of_Cognitive_Architecture_Research-Core_Cognitive_Abilities_and_Practical_Applications_Kotseruba_2018.pdf filter=lfs diff=lfs merge=lfs -text
literature/StandardModelOfTheMind/A_landscape_of_consciousness-Toward_a_taxonomy_of_explanations_and_implications_Kuhn_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/StandardModelOfTheMind/An_integrative_multiscale_view_on_neural_theories_of_consciousness_Storm_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/StandardModelOfTheMind/laird.standard.aimag.2017.pdf filter=lfs diff=lfs merge=lfs -text
literature/StandardModelOfTheMind/Theories_of_Consciousness_Seth_and_Bayne_2022.pdf filter=lfs diff=lfs merge=lfs -text
literature/StandardModelOfTheMind/What_is_neurorepresentationalism_From_neural_activity_and_predictive_processing_to_multi-level_representations_and_consciousness_Pennartz_2022.pdf filter=lfs diff=lfs merge=lfs -text
literature/StandardModelOfTheMind/Cellular_Mechanisms_of_Conscious_Processing_Aru_2020.pdf filter=lfs diff=lfs merge=lfs -text
literature/StandardModelOfTheMind/Analysis_of_the_Human_Connectome_Data_Supports_the_Notion_of_A_Common_Model_of_Cognition_for_Human_and_Human-Like_Intelligence_Stoco_2019.pdf filter=lfs diff=lfs merge=lfs -text
literature/StandardModelOfTheMind/Experimental_and_Theoretical_Approaches_to_Conscious_Processing_Dehaene_2011.pdf filter=lfs diff=lfs merge=lfs -text
literature/StandardModelOfTheMind/Integrated_information_theory-from_consciousness_to_its_physical_substrate_Tononi_2016.pdf filter=lfs diff=lfs merge=lfs -text
literature/GeneticAlgorithms/An_Introduction_to_Genetic_Algorithms-Melanie_Mitchell_2016.pdf filter=lfs diff=lfs merge=lfs -text
literature/GeneticAlgorithms/Evolutionary-Deep-Learning-by-Michael-Lanham.pdf filter=lfs diff=lfs merge=lfs -text
literature/GeneticAlgorithms/Genetic_Algorithms_and_Genetic_Programming_Affenzeller.pdf filter=lfs diff=lfs merge=lfs -text
literature/GeneticAlgorithms/an-introduction-to-genetic-algorithms-for-scientists-and-engineers.pdf filter=lfs diff=lfs merge=lfs -text
literature/GeneticAlgorithms/genetic-algorithms-with-python.pdf filter=lfs diff=lfs merge=lfs -text
literature/BayesianInference/Precis_of_Bayesian_Rationality-The_Probabilistic_Approach_to_Human_Reasoning_Oaksford_2009.pdf filter=lfs diff=lfs merge=lfs -text
literature/LLM/semantic_simulation/Deep_sequence_models_tend_to_memorize_geometrically_it_is_unclear_why_Noroozizadeh_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/LLM/semantic_simulation/Are_language_models_aware_of_the_road_not_taken_Token-level_uncertainty_and_hidden_state_dynamics_Zur_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/LLM/semantic_simulation/Continuous_AutoRegressive_Language_Models_Shao_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/LLM/semantic_simulation/Forking_Paths_in_Neural_Text_Generation_Bigelow_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/RenormalizationGroup/A_Deep_Dive_into_the_Connections_Between_the_Renormalization_Group_and_Deep_Learning_in_the_Ising_Model_Taylor_thesis_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/RenormalizationGroup/bauerschmidt_brydges_slade_book.pdf filter=lfs diff=lfs merge=lfs -text
literature/RenormalizationGroup/Introduction_to_Renormalisation_Melo_2019.pdf filter=lfs diff=lfs merge=lfs -text
literature/RenormalizationGroup/Tutorial_on_The_Ising_Model_UBC_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/RenormalizationGroup/Tutorial_on_The_Renormalization_Group_and_the_Ising_Model_UBC_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/RenormalizationGroup/Tutorial_on_The_Transverse_Ising_Model_UBC_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/RenormalizationGroup/Why_does_deep_and_cheap_learning_work_so_well_Liu_2017.pdf filter=lfs diff=lfs merge=lfs -text
literature/SmoothManifolds/lee_smooth_manifolds.pdf filter=lfs diff=lfs merge=lfs -text
literature/SmoothManifolds/leeriemm.pdf filter=lfs diff=lfs merge=lfs -text
literature/ALARM_theory_of_consciousness/Conscious_birds_Maldarelli_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/ALARM_theory_of_consciousness/Three_types_of_phenomenal_consciousness_and_their_functional_roles-unfolding_the_ALARM_theory_of_consciousness_Newen_2025.pdf filter=lfs diff=lfs merge=lfs -text
