literature/QuantumInformation/Quantum_Probability_and_Quantum_Information_Theory_Maassen.pdf filter=lfs diff=lfs merge=lfs -text
literature/QuantumInformation/From_Classical_to_Quantum_Shannon_Theory_Wilde_2017.pdf filter=lfs diff=lfs merge=lfs -text
literature/QuantumInformation/QuantumTheory_For_Mathematicians_Hall_2013.pdf filter=lfs diff=lfs merge=lfs -text
literature/QuantumCognition/The_unreasonable_success_of_quantum_probability_I-Quantum_measurements_as_uniform_fluctuations_Aerts_2014.pdf filter=lfs diff=lfs merge=lfs -text
literature/QuantumCognition/The_unreasonable_success_of_quantum_probability_II-Quantum_measurements_as_universal_measurements_Aerts_2014.pdf filter=lfs diff=lfs merge=lfs -text
literature/DynamicalSystemsAndChaos/Nonlinear_Dynamics_and_Chaos_2018_Steven_Strogatz.pdf filter=lfs diff=lfs merge=lfs -text
literature/ComputabilityAndComplexity/George_S_Boolos_John_P_Burgess_Richard_C_Jeffrey_Computability_and_Logic_5Ed_Cambridge_2007.pd filter=lfs diff=lfs merge=lfs -text
literature/ComputabilityAndComplexity/George_S_Boolos_John_P_Burgess_Richard_C_Jeffrey_Computability_and_Logic_5Ed_Cambridge_2007.pdf filter=lfs diff=lfs merge=lfs -text
literature/ComputabilityAndComplexity/notes_on_Boolos_Computability_and_Logic.pdf filter=lfs diff=lfs merge=lfs -text
Practical_Handbook_Genetic_Algorithms_Chambers_2000.pdf filter=lfs diff=lfs merge=lfs -text
literature/EvolutionaryAlgorithms/Practical_Handbook_Genetic_Algorithms_Chambers_2000.pdf filter=lfs diff=lfs merge=lfs -text
literature/EvolutionaryAlgorithms/IntroductionToEvolutionaryComputation_2015.pdf filter=lfs diff=lfs merge=lfs -text
literature/EvolutionaryAlgorithms/Evolutionary_algorithms_guided_by_Erdos–Renyi_complex_networks_Buchelli_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/EvolutionaryAlgorithms/Introduction_to_Evolutionary_Algorithms_Tamilselvi_book_chapter.pdf filter=lfs diff=lfs merge=lfs -text
literature/EvolutionaryAlgorithms/Algorithms_in_Nature_Genetic_Algorithms_slides.pdf filter=lfs diff=lfs merge=lfs -text
literature/EvolutionaryAlgorithms/Practical_Handbook_of_Genetic_Algorithms_New_Frontiers_Vol_II.pdf filter=lfs diff=lfs merge=lfs -text
literature/a_path_towards_autonomous_machine_intelligence_Yan_LeCunn_2022.pdf filter=lfs diff=lfs merge=lfs -text
literature/Broadbent_1957_perceptioncommun.pdf filter=lfs diff=lfs merge=lfs -text
literature/EmergentPhenomenaAndSelfOrganization/Software_in_the_natural_world-A_computational_approach_to_hierarchical_emergence_Rosas_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/OnCertainFormalPropertiesOfGrammarsChomsky1959.pdf filter=lfs diff=lfs merge=lfs -text
literature/ThreeModelsForDescriptionOfLanguageChomsky1956.pdf filter=lfs diff=lfs merge=lfs -text
literature/TheAlgebraicTheoryOfContextFreeLanguages_Chomsky_1963.pdf filter=lfs diff=lfs merge=lfs -text
literature/QuantumInformation/Epistemic_Processes_Basis_for_Statistics_and_Quantum_Theory.pdf filter=lfs diff=lfs merge=lfs -text
