literature/ConsciousnessAsAStateOfMatterTegmark2015.pdf filter=lfs diff=lfs merge=lfs -text
literature/BayesianMechanics/On_Bayesian_Mechanics-A_Physics_of_and_by_Beliefs_Ramstead_UCL_StonyBrook_NortheasternU_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/BayesianMechanics/Variational_Algorithms_for_Approximate_Bayesian_Inference_PhD_thesis_UCL_2003.pdf filter=lfs diff=lfs merge=lfs -text
literature/BayesianNetworks/LearningBayesianNetworksRNeapolitan.pdf filter=lfs diff=lfs merge=lfs -text
literature/CSPeirce/TheOrderOfNaturePeirce1878.pdf filter=lfs diff=lfs merge=lfs -text
literature/CSPeirce/TheProbabilityOfInductionPeirce1878.pdf filter=lfs diff=lfs merge=lfs -text
literature/CSPeirce/TheDoctrineOfChancesPeirce1878.pdf filter=lfs diff=lfs merge=lfs -text
literature/CellularAutomata/universality-complexity-cellular-automata.pdf filter=lfs diff=lfs merge=lfs -text
literature/CellularAutomata/statistical-mechanics-cellular-automata.pdf filter=lfs diff=lfs merge=lfs -text
literature/ComputationSiegelmann/NeuralNetworksandAnalogComputationBeyondTheTuringLimit.pdf filter=lfs diff=lfs merge=lfs -text
literature/Explainability/Calculating_and_Visualizing_Counterfactual_Feature_Importance_Values_MueleMeester_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/Fractals/MultifractalMethodologySalat2017.pdf filter=lfs diff=lfs merge=lfs -text
literature/Fractals/Fractals_and_wavelets_arneodo.pdf filter=lfs diff=lfs merge=lfs -text
literature/Fractals/Muzy-1994-The-Multi-Fractal-Formalism-Revisited-With-Wavelets.pdf filter=lfs diff=lfs merge=lfs -text
literature/FreeEnergyPrinciple/Active_Inference_The_Free_Energy_Prinicple_In_Mind_Brain_and_Behavior_Parr_Pezzulo_Friston_2022.pdf filter=lfs diff=lfs merge=lfs -text
literature/FreeEnergyPrinciple/Perceptions_as_hypotheses_saccades_as_experiments_Friston_2012.pdf filter=lfs diff=lfs merge=lfs -text
literature/GNN/Double_Equivariance_for_Inductive_Link_Prediction_for_Both_New_Nodes_and_New_Relation_Types_Gao_PurdueU_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/GNN/APracticalGuidetoGraphNeuralNetworks.pdf filter=lfs diff=lfs merge=lfs -text
literature/GameTheory/An_Introduction_to_Syntax_Valin_2001.pdf filter=lfs diff=lfs merge=lfs -text
literature/GrammarAndSyntax/An_Introduction_to_Syntax_Valin_2001.pdf filter=lfs diff=lfs merge=lfs -text
literature/GrammarAndSyntax/Grammatical_theory_Mueler_2016.pdf filter=lfs diff=lfs merge=lfs -text
literature/GraphTheory/DigraphsTheoryAlgorithmsApplicationsJensen2007.pdf filter=lfs diff=lfs merge=lfs -text
literature/HyperdimensionalComputing/A_Neuro-vector-symbolic_Architecture_for_Solving_Ravens_Progressive_Matrices_Hersche_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/InformationTheory/InformationTheoryTutorial_Stone_UShefield_2018.pdf filter=lfs diff=lfs merge=lfs -text
literature/IntegratedInformationTheory/Integrated_information_theory_4.0-Formulating_the_properties_of_phenomenal_existence_in_physical_terms_Albantakis_2022.pdf filter=lfs diff=lfs merge=lfs -text
literature/IsingMachines/Oscillator-BasedIsingMachinesforSolvingCombinatorialOptimisationProblemsWang2019.pdf filter=lfs diff=lfs merge=lfs -text
literature/LogicSystems/church_calculi_1941.pdf filter=lfs diff=lfs merge=lfs -text
literature/LogicSystems/Kurt_Gödel_On_Formally_Undecidable_Propositions_of_Principia_Mathematica_and_Related_Systems_1992.pdf filter=lfs diff=lfs merge=lfs -text
literature/NoetherTheoremAndSymmetryGroups/Theory_of_groups_of_finite_order_Burnside_1896.pdf filter=lfs diff=lfs merge=lfs -text
literature/NoetherTheoremAndSymmetryGroups/SymmetryGroupsBook/sgatapch2.pdf filter=lfs diff=lfs merge=lfs -text
literature/NoetherTheoremAndSymmetryGroups/SymmetryGroupsBook/sgatach8.pdf filter=lfs diff=lfs merge=lfs -text
literature/NoetherTheoremAndSymmetryGroups/SymmetryGroupsBook/sgatach4.pdf filter=lfs diff=lfs merge=lfs -text
literature/PhysicsBasedInterpretations/Strogatz_SYNC_2003.pdf filter=lfs diff=lfs merge=lfs -text
literature/QuantumOptimization/QuantumComputationandQuantumInformation_Nielsen_10th_anniversary_ed_CamridgeU_2010.pdf filter=lfs diff=lfs merge=lfs -text
literature/ReinforcementLearning/Simple_Embodied_Language_Learning_as_a_Byproduct_of_Meta-Reinforcement_Learning_Liu_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/Transformers/NLP_GPT-3_openai_paper.pdf filter=lfs diff=lfs merge=lfs -text
literature/Transformers/Q-Transformer-Scalable_Offline_Reinforcement_Learning_via_Autoregressive_Q-Functions_Chebotar_DeepMind_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/Transformers/SimplifyingTransformerBlocks_He2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/Transformers/TheIllustratedTransformerJayAmmar.pdf filter=lfs diff=lfs merge=lfs -text
literature/Transformers/TransformerNovelNeuralNetworkArchitecture.pdf filter=lfs diff=lfs merge=lfs -text
literature/Transformers/The_Transient_Nature_of_Emergent_In-Context_Learning_in_Transformers_Singh_UCL_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/Transformers/Transformers_Learn_Higher-Order_Optimization_Methods_for_In-Context_Learning-A_Study_with_Linear_Models_Fu_USC_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/p-bit_computing/SimmulatingPhysicsWithComputersFeynman1981.pdf filter=lfs diff=lfs merge=lfs -text
literature/p-bit_computing/p-BitsforProbabilisticSpinLogicCamsari2019.pdf filter=lfs diff=lfs merge=lfs -text
literature/thousand_brains_hypothesis/BinarySparseSignalRecoveryAlgorithmsHu2018.pdf filter=lfs diff=lfs merge=lfs -text
literature/thousand_brains_hypothesis/HowDoWeRememberBrainMechanismsOfEpisodicMemoryHasselmo2011Book.pdf filter=lfs diff=lfs merge=lfs -text
literature/thousand_brains_hypothesis/GridCellsEncodeLocalPositionalInformationRIsmakov2017.pdf filter=lfs diff=lfs merge=lfs -text
literature/thousand_brains_hypothesis/GridCellsFormaGlobalRepresentationofConnectedEnvironmentsCarpenter2015.pdf filter=lfs diff=lfs merge=lfs -text
literature/thousand_brains_hypothesis/SpaceAndTimeTheHippocampusasSequenceGenerator_Buzsaki_Tingley_2018.pdf filter=lfs diff=lfs merge=lfs -text
literature/thousand_brains_hypothesis/TheoryofHowColumnsintheNeocortexEnableLearningtheStructureoftheWorldHawkins2017.pdf filter=lfs diff=lfs merge=lfs -text
literature/Neural_and_behavioural_effects_of_typicality_denotation_and_composition_in_an_adjective–noun_combination_task_Fritz_2021.pdf filter=lfs diff=lfs merge=lfs -text
literature/Chennu_et_al-2016-The_Journal_of_Neuroscience-VoR.pdf filter=lfs diff=lfs merge=lfs -text
literature/AI_is_stupid_and_causal_reasoning_will_not_fix_it_Bishop_2021.pdf filter=lfs diff=lfs merge=lfs -text
literature/bridging-machine-learning-and-logical-reasoning-by-abductive-learning-Paper.pdf filter=lfs diff=lfs merge=lfs -text
literature/BayesianInference/BayesianFrameworkForConceptLearningTanenbaum1999.pdf filter=lfs diff=lfs merge=lfs -text
literature/BayesianInference/BayesianInductiveInferenceAndMaximumEntropyGull1988.pdf filter=lfs diff=lfs merge=lfs -text
literature/CausalInferencePearl/LinearModelsUsefulMicroscopeforCausalAnalysisPearl2013.pdf filter=lfs diff=lfs merge=lfs -text
literature/ComputationSiegelmann/ComputationBeyondtheTuringLimit_1995_Siegelmann_Science.pdf filter=lfs diff=lfs merge=lfs -text
literature/DeepLearning/Using_Sequences_of_Life-events_to_Predict_Human_Lives_Savcisens_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/EmergentPhenomenaAndSelfOrganization/Self-organization_an_Developmental_Processes-Can_Systems_Approaches_Work_Esther_Thelen_1989.pdf filter=lfs diff=lfs merge=lfs -text
literature/EmergentPhenomenaAndSelfOrganization/Spatially_embedded_recurrent_neural_networks_reveal_widespread_links_between_structural_and_functional_neuroscience_findings_Achterberg_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/Fractals/From_Cascades_To_Multifractal_Processes_Riedi_2004.pdf filter=lfs diff=lfs merge=lfs -text
literature/Fractals/wavelet_based_multifractal_formalism_arneodo.pdf filter=lfs diff=lfs merge=lfs -text
literature/FreeEnergyPrinciple/KFriston_FreeEnergy_BrainTheory_2010.pdf filter=lfs diff=lfs merge=lfs -text
literature/FreeEnergyPrinciple/Experimental_validation_of_the_free-energy_principle_with_in_vitro_neural_networks_Isomura_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/HyperdimensionalComputing/Learning_from_Hypervectors-A_Survey_on_Hypervector_Encoding_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/EvolutionaryAlgorithms/IntroductionToEvolutionaryComputation_2015.pdf filter=lfs diff=lfs merge=lfs -text
literature/QuantumInformation/Quantum_Probability_and_Quantum_Information_Theory_Maassen.pdf filter=lfs diff=lfs merge=lfs -text
literature/QuantumInformation/From_Classical_to_Quantum_Shannon_Theory_Wilde_2017.pdf filter=lfs diff=lfs merge=lfs -text
literature/QuantumInformation/QuantumTheory_For_Mathematicians_Hall_2013.pdf filter=lfs diff=lfs merge=lfs -text
literature/QuantumCognition/The_unreasonable_success_of_quantum_probability_I-Quantum_measurements_as_uniform_fluctuations_Aerts_2014.pdf filter=lfs diff=lfs merge=lfs -text
literature/QuantumCognition/The_unreasonable_success_of_quantum_probability_II-Quantum_measurements_as_universal_measurements_Aerts_2014.pdf filter=lfs diff=lfs merge=lfs -text
literature/DynamicalSystemsAndChaos/Nonlinear_Dynamics_and_Chaos_2018_Steven_Strogatz.pdf filter=lfs diff=lfs merge=lfs -text
literature/ComputabilityAndComplexity/George_S_Boolos_John_P_Burgess_Richard_C_Jeffrey_Computability_and_Logic_5Ed_Cambridge_2007.pd filter=lfs diff=lfs merge=lfs -text
literature/ComputabilityAndComplexity/George_S_Boolos_John_P_Burgess_Richard_C_Jeffrey_Computability_and_Logic_5Ed_Cambridge_2007.pdf filter=lfs diff=lfs merge=lfs -text
literature/ComputabilityAndComplexity/notes_on_Boolos_Computability_and_Logic.pdf filter=lfs diff=lfs merge=lfs -text
Practical_Handbook_Genetic_Algorithms_Chambers_2000.pdf filter=lfs diff=lfs merge=lfs -text
literature/EvolutionaryAlgorithms/Practical_Handbook_Genetic_Algorithms_Chambers_2000.pdf filter=lfs diff=lfs merge=lfs -text
literature/EvolutionaryAlgorithms/IntroductionToEvolutionaryComputation_2015.pdf filter=lfs diff=lfs merge=lfs -text
literature/EvolutionaryAlgorithms/Evolutionary_algorithms_guided_by_Erdos–Renyi_complex_networks_Buchelli_2023.pdf filter=lfs diff=lfs merge=lfs -text
literature/EvolutionaryAlgorithms/Introduction_to_Evolutionary_Algorithms_Tamilselvi_book_chapter.pdf filter=lfs diff=lfs merge=lfs -text
literature/EvolutionaryAlgorithms/Algorithms_in_Nature_Genetic_Algorithms_slides.pdf filter=lfs diff=lfs merge=lfs -text
literature/EvolutionaryAlgorithms/Practical_Handbook_of_Genetic_Algorithms_New_Frontiers_Vol_II.pdf filter=lfs diff=lfs merge=lfs -text
literature/a_path_towards_autonomous_machine_intelligence_Yan_LeCunn_2022.pdf filter=lfs diff=lfs merge=lfs -text
literature/Broadbent_1957_perceptioncommun.pdf filter=lfs diff=lfs merge=lfs -text
literature/EmergentPhenomenaAndSelfOrganization/Software_in_the_natural_world-A_computational_approach_to_hierarchical_emergence_Rosas_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/OnCertainFormalPropertiesOfGrammarsChomsky1959.pdf filter=lfs diff=lfs merge=lfs -text
literature/ThreeModelsForDescriptionOfLanguageChomsky1956.pdf filter=lfs diff=lfs merge=lfs -text
literature/TheAlgebraicTheoryOfContextFreeLanguages_Chomsky_1963.pdf filter=lfs diff=lfs merge=lfs -text
literature/QuantumInformation/Epistemic_Processes_Basis_for_Statistics_and_Quantum_Theory.pdf filter=lfs diff=lfs merge=lfs -text
literature/AITR-235_DataRepresentationForUnderstandingNLP.pdf filter=lfs diff=lfs merge=lfs -text

